*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
}

.header{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__title{
    font-size: 35px;
    font-weight: 400;
}

.header__desc{
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}

.tags-section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    height: 300px;
    margin: auto;
}

.tags-left,
.tags-right{
    width: 48%;
    background: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
}

.tags-left{
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .3);
}

.tags-left__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tags{
    display: flex;
}
.tags__btn{
    flex-grow: 1;
    padding-block: 15px;
    border: none;
    background: #ddd;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    transition: background .5s;
}

.tags__btn:hover{
    background: #bfbfbf;
}

.tags__btn--active{
    background: #f3f3f3;
}

.main-text{
    padding: 20px;
    display: none;
}

.main-text--active{
    display: block;
}

.main-text__title{
    font-size: 25px;
    font-weight: 400;
}

.main-text__paragraph{
    font-size: 18px;
    margin-top: 7PX;
    line-height: 25px;
}
